<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{{url_for('static', filename='styles.css')}}">
    <title>BlogU-Home</title>
</head>

<body>
    <div class="background">
        <!-- <img src="{{ url_for('static', filename='Images/container.jpg') }}" style="height: 80%; width: 30%;margin: 6.5% 0% 0% 55%;;border-radius: 0px 25px 25px 0px; position: fixed;"> -->

        <div class="header">
            <a href="/home/">
                <div class="header-text" style="margin: 1% 0% 0% 15%;font-size: 28px;">BlogU</div>
            </a>
            <div class="header-text" style="margin: 1.5% 0% 0% 81%;">Contact</div>
            <div class="header-text" style="margin-left: 76%;">About</div>
            <div class="header-text" style="margin-left: 71%;">Blogs</div>
            <div class="header-text" style="margin-left: 66%;">Home</div>


            <div class="dropdown">
                <i class="fa fa-user-o" aria-hidden="true"
                    style="margin: 0.8% 0% 0% -0.1%;position: absolute; z-index: 2;"></i>
                <button class="dropbtn">{{current_user.First_name}}
                    <i class="fa fa-caret-down"></i>
                </button>
                <div class="dropdown-content">
                    <a href="#" id="blogLink" onclick="createBlogDiv()">Create Blog</a>
                    <a href="/home/">Home</a>
                    <a href="#" id="changePassLink" onclick="openPassDiv()">Change Password</a>
                    <a href="#" id="editLink" onclick="openProfileDiv()">Edit Profile</a>
                    <a href="/user/logout/">Logout</a>
                </div>
            </div>
        </div>

        <!-- Home search box

        <div>
            <div class="search-box">
                <button class="btn-search"><i class="fas fa-search"></i></button>
                <input type="text" class="input-search" placeholder="Type to Search...">
            </div>
        </div> -->

        <!-- blog content ends here -->
        <div class="blog_container">
            {% for i in blog_data %}
            <div
                class="blog_content {% if i.blogs_category.category == 'SCIENCE' %} SCIENCE {% elif i.blogs_category.category == 'TECHNOLOGY' %} TECHNOLOGY {% elif i.blogs_category.category == 'PHILOSPHY' %} PHILOSPHY {% elif i.blogs_category.category == 'FOOD' %} FOOD {% elif i.blogs_category.category == 'TRAVEL' %} TRAVEL {% elif i.blogs_category.category == 'GENERAL' %} GENERAL {% endif %}">
                <div class="blog_util" style="display: flex;align-items: center;">
                    <i class="fa fa-user-o" aria-hidden="true"
                        style="font-size:  20px; color: #adadad; font-weight: bold;"></i>&nbsp; <em
                        style="color:white;">
                        ~{{i.blogs_user.First_name}}</em>

                    <p style="margin-left:55% ;font-size: 13px;color: white;">{{ i.created_at.strftime('%d-%m-%Y') }}
                    </p>
                </div><br><br><br>

                <div class="blog_util" style="text-align: center; color: white;"><b>{{i.title|truncate(40)}}</b>
                </div><br>

                {% if i.content|length >= 220 %}
                <div class="blog_data" style="color: whitesmoke; font-weight: normal;"
                    onclick="openBlogViewDiv('blogViewDiv-{{i}}')">{{i.content[0:220]}}....</div>
                {% else %}
                <div class="blog_data" style="color: whitesmoke;font-weight: normal;"
                    onclick="openBlogViewDiv('blogViewDiv-{{i}}')">{{i.content}}</div>
                {% endif %}

                <br><br>
                <div class="blog_util" style="display: flex; align-items: center;">
                    <p style="font-size: 11px; background-color: #adadad; padding: 2px; text-align: center; margin: 0;">
                        {{i.blogs_category.category}}
                    </p>

                    <div style="display: flex; align-items: center; margin-left: auto;">
                        {% set temp = [] %}
                        {% for j in i.blogs_responses if j.response_type ==1 %}
                        {% set _ = temp.append(j.user_id) %}
                        {% endfor %}
                        {% if current_user.id in temp %}
                        <i id="like-icon-{{i}}" class="fa fa-thumbs-up util-icon" aria-hidden="true"
                            onclick="callLike('{{i}}', '/blogs/like/?blog_id={{i.id}}')"></i>&nbsp;
                        {% else %}

                        <i id="like-icon-{{i}}" class="fa fa-thumbs-o-up util-icon" aria-hidden="true"
                            onclick="callLike('{{i}}', '/blogs/like/?blog_id={{i.id}}')"></i>&nbsp;

                        {% endif %}



                        <p style="color: white; margin: 6px 5px 0 -10px; min-width: 20px; text-align: center;">
                            {{temp|length}}</p>&nbsp;
                        <i class="fa fa-comments util-icon" aria-hidden="true"></i>
                    </div>
                </div>


            </div>


            <!-- -- Blog View Modal -- -->
            <div id="blogViewDiv-{{i}}" class="modal " style="overflow-y: scroll;">

                <!-- Modal content -->
                <div class="modal-content no-scrollbar {% if i.blogs_category.category == 'SCIENCE' %} SCIENCE {% elif i.blogs_category.category == 'TECHNOLOGY' %} TECHNOLOGY {% elif i.blogs_category.category == 'PHILOSPHY' %} PHILOSPHY {% elif i.blogs_category.category == 'FOOD' %} FOOD {% elif i.blogs_category.category == 'TRAVEL' %} TRAVEL {% elif i.blogs_category.category == 'GENERAL' %} GENERAL {% endif %}"
                    style="max-height: 80vh; overflow-y: auto; padding: 3%; height: 76%; width: 66%; margin-top: -0.9%;margin-left: 14.8%;">
                    <span class="blogViewClose">&times;</span><br>
                    <h2 style="color: white;">Update Blog</h2>
                    <form action='/blogs/update/?blog_id={{i.id}}' method="post">
                        <div style="display: flex; justify-content: center; margin: 5% 0% 0% -23%;">
                            <input type="text" name="blog_title" value="{{i.title}}" required style="width: 60%; background-color: white; color: black;">
                        </div><br>
                        <div style="display: flex; justify-content: center; margin: 0% 0% 0% -23%;;">
                        <select name="category" required style="width: 61.2%;">
                            <option value="{{i.blogs_category.id}}">{{i.blogs_category.category}}</option>
                            {% for k in categories if k.id != i.blogs_category.id %}
                            <option value="{{k.id}}">{{k.category}}</option>
                            {% endfor %}

                        </select> </div><br>

                        <textarea name="blog_content" id="" cols="30" rows="10" required style="width: 75%; margin-top: 1%;">{{i.content}} </textarea>
                        <input type="submit" value="Update Blog">
                        <a class="delete" href="/blogs/delete/?blog_id={{i.id}}">Delete</a>

                    </form>

                </div>

            </div>
            <!-- -- Blog View Modal end here -- -->
            {% endfor %}

        </div>




    </div>







    <!-- The edit profile Modal -->
    <div id="editProfileDiv" class="modal">

        <!-- Modal content -->
        <div class="modal-content" style="height: 50%;">
            <span class="close1">&times;</span><br>
            <h2>Edit Profile</h2>

            <form action='/user/update/' method="post">
                <input type="text" name="f_name" value="{{current_user.First_name}}" required
                    style="margin-left: -0px; font-weight: bold;color: black;"><br>
                <input type="text" name="l_name" value="{{current_user.Last_name}}" required
                    style="margin-left: 0px;font-weight: bold;color: black;"><br>
                <input type="email" name="email" value="{{current_user.Email}}" readonly style="margin-left: 0px;"><br>
                <input type="number" name="contact" value="{{current_user.Ph_no}}" maxlength="10" required
                    style="margin-left: 0px;font-weight: bold;color: black;"><br>
                <input type="submit" value="Save Changes" style="margin-left: 0%;">

            </form>
        </div>

    </div>


    <!-- The pass change Modal -->
    <div id="changePasswordDiv" class="modal">

        <!-- Modal content -->
        <div class="modal-content" style="height: 40%;">
            <span class="close">&times;</span><br>
            <h2>Change Password</h2>

            <form action='/user/changepassword/' method="post">
                <p id="errorMsg" style="color: red;"></p>
                <p id="successMsg" style="color: green;"></p>
                <br>
                <input type="password" name="OldPassword" placeholder="Old Password.." id="OldPwd"
                    style="margin-left: -5px;">
                <i id="OldPwd_icon" class="fa fa-eye" onclick="OldPasswordToggle()" aria-hidden="true" width="1%"
                    height="1%" style="display: inline; 
                                     margin-left: -2.5%; 
                                     vertical-align: middle"></i><br>

                <input type="password" name="NewPassword" placeholder="New Password.." id="NewPwd"
                    style="margin-left: -5px;">
                <i id="NewPwd_icon" class="fa fa-eye" onclick="NewPasswordToggle()" aria-hidden="true" width="1%"
                    height="1%" style="display: inline; 
                     margin-left: -2.5%; 
                     vertical-align: middle"></i><br>
                <input type="submit" value="Save Changes" style="margin-left: 0%;">

            </form>
        </div>

    </div>
    <!-- The create blog Modal -->
    <div id="blogDiv" class="modal">

        <!-- Modal content -->
        <div class="modal-content" style="height: auto;">
            <span class="close3">&times;</span><br>
            <h2>Create New Blog</h2>

            <form action='/blogs/create/' method="post">
                <input type="text" name="blog_title" placeholder="Title..."
                    style="margin-left: -0px; font-weight: bold;color: black;"><br>

                <select name="category" id="" style="margin-left: -0px; width: 415px;">
                    {% for i in categories %}
                    <option value="{{i.id}}">{{i.category}}</option>
                    {% endfor %}
                </select><br><br>
                <textarea name="blog_content" id="" cols="30" rows="10" placeholder="Your blog content..."
                    style="width: 39.5%;font-family: Arial, Helvetica, sans-serif; font-size: 13px;padding: 1%;"
                    required></textarea><br>
                <input type="submit" value="Post Blog" style="margin-left: 0%;">

            </form>
        </div>

    </div>



    <script>
        function openBlogViewDiv(divId) {
            // Get the modal
            var pwd_modal = document.getElementById(divId);

            // Get all close buttons within the modal
            var closeButtons = pwd_modal.getElementsByClassName("blogViewClose");

            // Open the modal
            pwd_modal.style.display = "block";

            // Attach event listeners to each close button
            for (var i = 0; i < closeButtons.length; i++) {
                closeButtons[i].onclick = function () {
                    pwd_modal.style.display = "none";
                };
            }

            // When the user clicks anywhere outside of the modal, close it
            window.onclick = function (event) {
                if (event.target == pwd_modal) {
                    pwd_modal.style.display = "none";
                }
            };

            // Additional code for handling user menu
            document.addEventListener('DOMContentLoaded', function () {
                var userMenu = document.querySelector('.user-menu');

                // Close the menu when clicking outside of it
                window.addEventListener('click', function (event) {
                    if (!event.target.closest('.user')) {
                        userMenu.style.display = 'none';
                    }
                });

                // Prevent closing the menu when clicking inside it
                userMenu.addEventListener('click', function (event) {
                    event.stopPropagation();
                });
            });
        }


        //edit Profile-->
        function openProfileDiv() {
            // Get the modal 
            var modal = document.getElementById("editProfileDiv");

            // Get the button that opens the modal
            var btn = document.getElementById("editLink");

            // Get the <span> element that closes the modal
            var span = document.getElementsByClassName("close1")[0];

            // When the user clicks the button, open the modal 
            modal.style.display = "block";


            // When the user clicks on <span> (x), close the modal
            span.onclick = function () {
                modal.style.display = "none";
            }

            // When the user clicks anywhere outside of the modal, close it
            window.onclick = function (event) {
                if (event.target == modal) {
                    modal.style.display = "none";
                }
            }
        }


        //Updatepass-->
        function openPassDiv() {
            // Get the modal 
            var modal = document.getElementById("changePasswordDiv");

            // Get the button that opens the modal
            var btn = document.getElementById("changePassLink");

            // Get the <span> element that closes the modal
            var span = document.getElementsByClassName("close")[0];

            // When the user clicks the button, open the modal 
            modal.style.display = "block";


            // When the user clicks on <span> (x), close the modal
            span.onclick = function () {
                modal.style.display = "none";
            }

            // When the user clicks anywhere outside of the modal, close it
            window.onclick = function (event) {
                if (event.target == modal) {
                    modal.style.display = "none";
                }
            }
        }

        //create blog-->
        function createBlogDiv() {
            // Get the modal 
            var modal = document.getElementById("blogDiv");

            // Get the button that opens the modal
            var btn = document.getElementById("blogLink");

            // Get the <span> element that closes the modal
            var span = document.getElementsByClassName("close3")[0];

            // When the user clicks the button, open the modal 
            modal.style.display = "block";


            // When the user clicks on <span> (x), close the modal
            span.onclick = function () {
                modal.style.display = "none";
            }

            // When the user clicks anywhere outside of the modal, close it
            window.onclick = function (event) {
                if (event.target == modal) {
                    modal.style.display = "none";
                }
            }
        }

        function OldPasswordToggle() {
            let pwd_field = document.getElementById("OldPwd");
            let icon = document.getElementById("OldPwd_icon");
            if (pwd_field.type == "password") {
                pwd_field.type = "text";
                icon.className = "fa fa-eye-slash";
            } else {
                pwd_field.type = "password";
                icon.className = "fa fa-eye";
            }

        }

        function NewPasswordToggle() {
            let pwd_field = document.getElementById("NewPwd");
            let icon = document.getElementById("NewPwd_icon");
            if (pwd_field.type == "password") {
                pwd_field.type = "text";
                icon.className = "fa fa-eye-slash";
            } else {
                pwd_field.type = "password";
                icon.className = "fa fa-eye";
            }

        }

        function callLike(i, url) {
            var icon = document.getElementById(`like-icon-${i}`);
            if (icon.className === "fa fa-thumbs-o-up util-icon right") {
                icon.className = "fa fa-thumbs-up util-icon right";
            } else {
                icon.className = "fa fa-thumbs-o-up util-icon right";
            }
            window.location.href = url;
        }





    </script>

    {% if args %}
    <script>
        openPassDiv()
        var error_p = document.getElementById("errorMsg");
        error_p.innerHTML = "Old Password does not match, Try Again";
    </script>
    {% endif %}

    {% if successMsg %}
    <script>
        openPassDiv()
        var success_p = document.getElementById("successMsg");
        success_p.innerHTML = "Password successfully changed";
    </script>
    {% endif %}

</body>

</html>