<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename='styles.css')}}">
    <title>BlogU-Home</title>
</head>

<body>
    <div class="background">
        <!-- <img src="{{ url_for('static', filename='Images/container.jpg') }}" style="height: 80%; width: 30%;margin: 6.5% 0% 0% 55%;;border-radius: 0px 25px 25px 0px; position: fixed;"> -->
        
        <div class="header">
            <div class="header-text" style="margin: 1% 0% 0% 15%;font-size: 28px;">BlogU</div>
            <div class="header-text" style="margin: 1.5% 0% 0% 81%;">Contact</div>
            <div class="header-text" style="margin-left: 76%;">About</div>
            <div class="header-text" style="margin-left: 71%;">Blogs</div>
            <div class="header-text" style="margin-left: 66%;">Home</div>
        </div>

</body>

</html>